@font-face {
  font-family: 'Schabo Condensed';
  src:
    url('../assets/fonts/SCHABO_Cond/SCHABO-Condensed.woff2') format('woff2'),
    url('../assets/fonts/SCHABO_Cond/SCHABO-Condensed.woff') format('woff'),
    url('../assets/fonts/SCHABO_Cond/SCHABO-Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
